<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/Defaults.css' %}?v=1.1">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}?v=1.1">
</head>
<h2 style="align-self: center;">Are you sure you want to delete your account?</h2>
<form method="POST" style="align-self: center;">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Yes, delete my account</button>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancel</a>
</form>
