<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel = "stylesheet" href = "{% static 'css/budget.css' %}?v=1.15" >
    <link rel = "stylesheet" href = "{% static 'css/Defaults.css' %}?v=1.15" >
    <title>Budget</title>

    <title>Dynamic Donut Chart</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        .card-back-btn {
            position: absolute;
            top: 25px;
            left: 50px;
            background-color: #0B8C2C; /* dark green */
            color: #FFFFFF;
            border: none;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            font-family: 'Poppins', sans-serif;
            cursor: pointer;
          }
    </style>


    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            // Parse chart data passed from Django
            var data = google.visualization.arrayToDataTable({{ chart_data|safe }});


            var options = {
                pieHole: 0.5,
                width: 400,
                height: 200,
                backgroundColor: 'transparent',
                legend: {
                    position: 'right',
                    alignment: 'center',
                    textStyle: {
                        fontSize: 14,
                        fontName: 'Poppins',
                        color: '#000000',
                    }
                },
                chartArea: {
                    left: 0,
                    top: 0,
                    width: '100%',
                    height: '80%'
                },
                pieSliceText: 'none',
                pieSliceBorderColor: 'transparent',
                colors: [
                    '#ffb3ba', // light red
                    '#bae1ff', // light blue
                    '#ffffba', // light yellow
                    '#baffc9', // light green
                    '#dabaff'  // light purple
                ]
            };

            var chart = new google.visualization.PieChart(document.getElementById('donut_chart'));
            chart.draw(data, options);
        }
        function handleGoalChange() {
            const select = document.getElementById('goal_number');
            const form = document.getElementById('goal-form');
            const submitBtn = document.getElementById('goal-submit-btn');

            if (select.value === 'add-new-goal') {
                form.action = '/create-goal/';
                submitBtn.textContent = 'Add';
            } else {
                form.action = '/edit-goal/';
                submitBtn.textContent = 'Edit';
            }
        }

        function handleCategoryChange() {
        const select = document.getElementById('category');
        const form = document.getElementById('category-form');
        const submitBtn = document.getElementById('category-submit-btn');
        const categoryInput = document.getElementById('new_category');
        const budgetInput = document.getElementById('new_budget');

        if (select.value === 'add-new-category') {
            form.action = '/create-category/';
            submitBtn.textContent = 'Add';
            categoryInput.value = '';
            budgetInput.value = '';
            categoryInput.disabled = false;
            budgetInput.disabled = false;
        } else {
            form.action = '/edit-category/';
            submitBtn.textContent = 'Edit';
            categoryInput.value = select.value;
            categoryInput.disabled = false;
            budgetInput.disabled = false;
        }
    }

    function handleExpenseChange() {
    const select = document.getElementById('expense');
    const form = document.getElementById('expense-form');
    const submitBtn = document.getElementById('expense-submit-btn');
    const expenseInput = document.getElementById('new_expense');
    const amountInput = document.getElementById('new_amount');

    if (select.value === 'add-new-expense') {
        form.action = '/create-expense/';
        submitBtn.textContent = 'Add';
        expenseInput.value = '';
        amountInput.value = '';
        expenseInput.disabled = false;
        amountInput.disabled = false;
    } else {
        form.action = '/edit-expense/';
        submitBtn.textContent = 'Edit';
        expenseInput.value = select.options[select.selectedIndex].text;
        expenseInput.disabled = false;
        amountInput.disabled = false;
    }
}

    </script>
</head>
<body>
    <button onclick="window.location.href='{% url 'dashboard' %}'" class="card-back-btn">
          &larr; Dashboard
    </button>
    <div class = "Goals_textbox">
        <div class = "glassmorphic-box">
            <h1 class="Green_text" style ="margin-bottom: 10px !important;"> Goals </h1>
            <h5 style="color: var(--theme_dark_green) !important; margin-bottom: 5px !important;"> Edit Goals: </h5>
            <form method="post" action="/edit-goal/" id="goal-form">
                {% csrf_token %}
                <select name="goal_number" id="goal_number" class="budget_form" onchange="handleGoalChange()" >
                    <option value="" disabled selected hidden>Goal Number</option>
                    {% for goal in goals %}
                        <option value="{{ goal.number }}">{{ goal.number }}</option>
                    {% endfor %}
                    <option value="add-new-goal" style="color: green;"> Add New Goal </option>
                </select>

                <input type="text" id="new_goal" name="new_goal" placeholder="New Goal" class="budget_form" required>

                <button type="submit" id="goal-submit-btn" class="budget_form_submit" style="color: #0A7A26">
                    Edit
                </button>
            </form>
            <hr style="border: .5px solid #000000; margin: 10px 0;">
            {% for goal in goals  %}
               <form method="post" action="/delete-goal/" style="display: flex; align-items: center; justify-content: space-between;">
                    {% csrf_token %}
                    <input type="hidden" name="goal_number" value="{{ goal.number }}">
                    <div style="font-size: 15px; display: flex; justify-content: space-between; align-items: center; width: 100%; margin: 0;">
                        <span style="font-weight: bold;">{{ goal.number }}.</span>
                        <span style="text-align: center; flex-grow: 1;">{{ goal.goal }}</span>
                        <button type="submit"
                                style="border: none; background: none; color: var(--theme_dark_green); font-weight: bold; font-size: 15px; cursor: pointer; z-index: 10; position: relative;">
                            &times;
                        </button>
                    </div>
                </form>
                <hr style="border: .5px solid #000000; margin: 10px 0;">
            {% endfor %}
            <h1 class="Green_text" style ="margin-bottom: 10px !important;"> Income </h1>
            <h5 style="color: var(--theme_dark_green) !important; margin-bottom: 5px !important;"> Edit Income: </h5>
            <form method="post" action="/edit-income/">
                    {% csrf_token %}
                    <input type="text" id="new_income" name="new_income" placeholder="New Income" class="budget_form" required>
                    <button type="submit" id="income-submit-btn" class="budget_form_submit" style="color: #0A7A26; left: 120px !important;">
                        Edit
                    </button>
            </form>
            <hr style="border: .5px solid #000000; margin: 10px 0;">
            <div style="font-size: 15px; display: flex; justify-content: space-between; align-items: center; width: 100%; margin: 0;">
                <span style="font-weight: bold;">Current Income: </span>
                <span style="text-align: right; flex-grow: 1;">${{ income.amount }}</span>
            </div>
        </div>
    </div>
    <div class = "Discretionary_textbox">
        <div class = "glassmorphic-box">
            <h1 class="Green_text" style="margin-bottom: 10px !important;">Budget</h1>
            <h5 style="color: var(--theme_dark_green) !important; margin-bottom: 5px !important;"> Edit Budget: </h5>
            {%if remaining < 0   %}
                <p class="mt-2 "style="font-size: 12px;color: red!important;"><i>Please ensure your total category budgets are equal to your remaining income after expenses ( {{ remaining }} of {{ budget }} left )</i> </p>
            {% else %}
                <p class="mt-2 "style="font-size: 10px;"><i>Please ensure your total category budgets are equal to your remaining income after expenses ( {{ remaining }} of {{ budget }} left )</i> </p>
            {% endif %}
            <form method="post" action="/edit-category/" id="category-form">
                {% csrf_token %}

                <!-- Dropdown to select a category to edit -->
                <select name="category" id="category" class="budget_form_category" onchange="handleCategoryChange()">
                    <option value="" disabled selected hidden>Category</option>
                    {% for category in categories %}
                        <option value="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                    <option value="add-new-category" style="color: green;"> Add New Category </option>
                </select>

                <!-- Input field for new category or editing existing category -->
                <input type="text" id="new_category" name="new_category" placeholder="Name" class="budget_form_category" required>

                <!-- Budget field for category -->
                <input type="number" id="new_budget" name="new_budget" placeholder="Budget" class="budget_form_category" required>

                <button type="submit" id="category-submit-btn" class="budget_form_category_submit" style="color: #0A7A26">
                    Edit
                </button>
            <hr style="border: .5px solid #000000; margin: 10px 0;">
            </form>
            <div class = "center-textbox">
                <table>
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Percentage</th>
                            <th>Amount</th>
                            <th></th> <!-- New header for the delete button -->
                        </tr>
                    </thead>
                    <tbody>
                    {% for cat in categories %}
                        <tr>
                            <td>{{ cat.name }}</td>
                            <td>{{ cat.percentage }}</td>
                            <td>${{ cat.budget }}</td>
                            <td>
                                <form method="post" action="{% url 'delete-category' %}" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="category" value="{{ cat.name }}">
                                    <button type="submit" style="
                                        border: none;
                                        background: none;
                                        color: var(--theme_dark_green);
                                        font-weight: bold;
                                        font-size: 16px;
                                        cursor: pointer;
                                    ">
                                        &times;
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class = "Budget_textbox">
        <div class = "glassmorphic-box">
            <h1 class="Green_text" style="margin-bottom: 10px !important;"> Expenses </h1>
            <h5 style="color: var(--theme_dark_green) !important; margin-bottom: 5px !important;"> Edit Expenses: </h5>
            {%if remain < 0   %}
                <p class="mt-2 "style="font-size: 12px;color:red;"><i>Please ensure your total expense categories are less than your income ( {{ remain}} of {{ income.amount }} left )</i> </p>
            {% else %}
                <p class="mt-2 "style="font-size: 10px;"><i>Please ensure your total expense categories are less than your income ( {{ remain}} of {{ income.amount }} left )</i> </p>
            {% endif %}
            <form method="post" action="/edit-expense/" id="expense-form">
            {% csrf_token %}

            <!-- Dropdown to select an expense to edit -->
            <select name="expense" id="expense" class="budget_form_category" onchange="handleExpenseChange()">
                <option value="" disabled selected hidden>Expense</option>
                {% for expense in expenses %}
                    <option value="{{ expense.id }}">{{ expense.expense }}</option>
                {% endfor %}
                <option value="add-new-expense" style="color: green;">Add New Expense</option>
            </select>

            <!-- Input field for new expense or editing existing expense -->
            <input type="text" id="new_expense" name="new_expense" placeholder="Name" class="budget_form_category" required >

            <!-- Budget field for expense -->
            <input type="number" id="new_amount" name="new_amount" placeholder="Amount" class="budget_form_category" required>

            <button type="submit" id="expense-submit-btn" class="budget_form_category_submit" style="color: #0A7A26">
                Edit
            </button>
            <hr style="border: .5px solid #000000; margin: 10px 0;">
        </form>

        <div class="center-textbox">
            <table>
                <thead>
                    <tr>
                        <th>Expense</th>
                        <th>Amount</th>
                        <th></th> <!-- New header for the delete button -->
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                        <tr>
                            <td>{{ expense.expense }}</td>
                            <td>${{ expense.amount }}</td>
                            <td>
                                <form method="post" action="{% url 'delete-expense' %}" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="expense" value="{{ expense.expense }}">
                                    <button type="submit" style="
                                        border: none;
                                        background: none;
                                        color: var(--theme_dark_green);
                                        font-weight: bold;
                                        font-size: 16px;
                                        cursor: pointer;
                                    ">
                                        &times;
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
            <hr style="border: .5px solid #000000; margin: 10px 0;">
            <div id = "donut_chart" style=" z-index: 10;"></div>
        </div>
    </div>


</body>
</html>
